{% extends 'home.html' %}

{% block content %}

<section class="content">

    <div class="card mt-5">
        <div class="card-header">
        <h3 class="card-title">Yeni İHA Ekle</h3>
    </div>
    <div class="card-body">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-row">
                <div class="col">
                    <label for="brand">Marka</label>
                    <input type="text" class="form-control" id="brand" name="brand" required>
                </div>
                <div class="col">
                    <label for="model">Model</label>
                    <input type="text" class="form-control" id="model" name="model" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label for="weight">Ağırlık</label>
                    <input type="number" class="form-control" id="weight" name="weight" required>
                </div>
                <div class="col">
                    <label for="category">Kategori</label>
                    <input type="text" class="form-control" id="category" name="category" required>
                </div>
            </div>

            <button type="submit" class="btn btn-success mt-3 float-right">Ekle</button>
        </form>
    </div>
    
</section>




{% endblock content %}